.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

.d-flex {
  display: flex !important;
}

.jcc {
  justify-content: center !important;
}

.aic {
  align-items: center !important;
}

.flexcenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flexbetween {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

a {
  text-decoration: none;
  color: black;
}

#hd {
  padding: 0 3rem;
}
#hd .gnb:hover:before {
  height: calc(13rem + 20px);
}
#hd .gnb:hover .gnb_li .gnb_ul {
  height: calc(13rem + 20px);
}
#hd .gnb:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
#hd .gnb .gnb_li {
  padding: 0 1rem;
  font-size: 1.3rem;
  line-height: 2;
}
#hd .gnb .gnb_li .gnb_a {
  font-size: 2rem;
  line-height: 100px;
  display: block;
  margin-right: 2rem;
}
#hd .gnb .gnb_li .gnb_ul {
  top: 100%;
  left: 0;
  min-width: 120px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}