//공통클래스를 스타일순위가 낮아서 거의 !important를 넣어 우선순위를 높여준다.
.rel{
    position:relative !important;
}
.abs{
    position: absolute !important;
}

.d-flex{
    display: flex !important;
}

.jcc{
    justify-content: center !important;
}

.aic{
    align-items: center !important;
}

// 자주 쓰게 되는 클래스는 병합해서 쓴다 부트스트랩의 row , conteint와 같이
.flexcenter{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.flexbetween{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

a{
    text-decoration: none;
    color:black;
}
#hd{
    //커스텀마이징
    padding: 0 3rem;
    .gnb{
        // ul네비게이션
        &:hover{  
            // 여기서 부터
            &:before{
                height: calc(13rem + 20px );
                
            }
            .gnb_li{
                .gnb_a{
                
                }

                .gnb_ul{
                    height: calc(13rem + 20px );
                }        
                
    
            }
        
        } //여기까지가 gnb에 hover했을 때의 스타일상태임

        &:before{
            // 메뉴뒤 전체 날개 제일 중요한 것은 position이 abs라는 것 / hd에 position를 넣어주어 기준이 되도록 했음
            // 화면 가득 나오게 했던 것은 hd가 기준이기 때문
            content:"";
            position:absolute;
            left:0;
            top:100%;
            right:0;
            height:0px;
            background-color: rgba(0,0,0,.5);
            transition: 0.5s;
        }
        .gnb_li{
            // 대메뉴 li
            padding: 0 1rem;
            font-size: 1.3rem;
            line-height: 2;
            .gnb_a{
                // 대메뉴 a
                font-size: 2rem;
                line-height: 100px; //상단의 hegith가 가장 큰 객체의 높이를 넣어준다.
                display: block; //inline태그
                margin-right:2rem;
            }

            .gnb_ul{
                // 소메뉴 포지션이 abs임
                top:100%;
                left:0;
                min-width: 120px;
                height: 0;
                overflow: hidden;
                transition: 0.5s;
            }        
            

            
        }
    
    }
}